<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="pd-30 ">
    <h1 class="page-header pricing-card">Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr><br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
  
  <div class="container signin pd-30">
    <p>Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
  </div>


</body>
</html>